.tOrNgd {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    padding: 36px 36px 0;
    font: 400 18px/32px 'Product Sans',Roboto,arial,sans-serif;
    margin-bottom: 4px;
}

.PNenzf {
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    overflow: hidden;
    word-wrap: break-word;
}

.oJeWuf {
    padding: 0 36px;
}

.MSfgie {
    height: auto;
}

.PbnGhe {
    -webkit-box-flex: 2;
    box-flex: 2;
    -webkit-flex-grow: 2;
    flex-grow: 2;
    -webkit-flex-shrink: 2;
    flex-shrink: 2;
    display: block;
    font: 400 14px/20px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    overflow-y: auto;
}

.fb0g6 {
    position: relative;
}

.sbb62e {
    font: 400 15px/20px Roboto,arial,sans-serif;
    margin: 16px 0 8px;
}

.Ixwe1Wd {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-align: center;
    align-items: center;
}

.Ixwe2Wd {
    width: 36px;
    height: 36px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.2);
}

.D2H8M2 {
    font: 400 14px/18px Roboto,arial,sans-serif;
}

.D2H8M3 {
    text-transform: capitalize;
    font: 400 14px/18px Roboto,arial,sans-serif;
}

.iconContainer {
    -webkit-box-flex: 0;
    box-flex: 0;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    margin-left: 16px;
}

.icon {
    -webkit-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    box-pack: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 24px;
    margin: 0;
    padding: 0;
    width: 24px;
}

.matArrow {
    word-break: break-word;
    word-wrap: break-word;
    font-size: 24px;
    font-weight: 400;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-rendering: optimizeLegibility;
    text-transform: none;
    display: inline-block;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga' 1;
    -webkit-font-smoothing: antialiased;
}

.jMb12e {
    -webkit-align-items: center;
    align-items: center;
    cursor: pointer;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding-bottom: 16px;
    padding-top: 16px;
    border-bottom-width: 0;
}

.jMb12e:last-of-type {
    border-bottom-width: 1px;
}

.D2H8M {
    font: 400 15px/20px Roboto,arial,sans-serif;
}

.IDlcIc {
    margin-top: 24px;
}

.eMDMDe {
    -webkit-align-items: center;
    align-items: center;
    cursor: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 56px;
    -webkit-user-select: text;
}

.LHuFB {
    cursor: pointer;
    opacity: 1;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}

.AbGhie {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 36px;
    margin-right: 16px;
    width: 36px;
}

.fOZyre {
    margin: 6px;
}

.n4jTu {
    font: 400 15px/24px Roboto,arial,sans-serif;
}

.N9wOvf7 {
    -webkit-user-select: none;
    -webkit-transition: background-color .1s ease;
    transition: background-color .1s ease;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: 500;
    outline: none;
    overflow: hidden;
    position: relative;
}

.N9wOvf7.RDPZE {
    color: rgba(68,68,68,0.502);
}

.Uic0Md {
    height: 40px;
    margin-right: 16px;
    width: 40px;
}

.qkdzle {
    background-color: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 40px;
    position: relative;
    -webkit-user-select: none;
    width: 40px;
    object-fit: cover;
}

.xqCI7b {
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.hIypqc {
    font-family: 'Product Sans',Roboto,arial,sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
}

.SbWINb .hIypqc {
    font-family: 'Product Sans',Roboto,arial,sans-serif;
}

.BPt1mb {
    font: 400 15px/20px Roboto,arial,sans-serif;
}

.XfpsVe {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    box-pack: end;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    padding: 36px;
}

.RveJvd {
    min-width: 88px;
}

.RveJvd2 {
    margin: 0 16px;
}