mat-form-field {
    width: 100%;
}

.matErr {
    -webkit-align-items: flex-start;
    align-items: flex-start;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    line-height: normal;
    margin-top: 2px;
    letter-spacing: 0;
}

.matErrIcon {
    font-size: 16px !important;
    margin-right: 8px;
    margin-top: -2px;
}

.headingContainer {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    font: 500 20px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    padding: 0 0 20px 0;
}

.dialogTitle {
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    overflow: hidden;
    word-wrap: break-word;
    font: 400 18px/32px 'Product Sans',Roboto,arial,sans-serif;
    margin-bottom: 4px;
}

.dialogContent {
    -webkit-box-flex: 2;
    box-flex: 2;
    -webkit-flex-grow: 2;
    flex-grow: 2;
    -webkit-flex-shrink: 2;
    flex-shrink: 2;
    display: block;
    font: 400 14px/20px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    overflow-y: auto;
}

.dialogInput {
    padding-bottom: 4px;
    min-width: 200px;
    width: 100%;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    outline: none;
}

.dialogAction {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    box-pack: end;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    padding: 24px 0 0 0; 
}